<footer class="site">
  <div class="social">
    <a href="https://github.com/{{ site.author.github }}">GitHub</a>
    <a href="https://www.linkedin.com/in/luigi-gallucci-scientificprofile/">LinkedIn</a>
    <a href="https://bsky.app/profile/luigallucci.bsky.social">Bluesky</a>
    <a href="https://x.com/luigallucci">X</a>
    <a href="https://www.instagram.com/luigigallucci_">Instagram</a>
  </div>
  <div class="copy">© {{ site.time | date: "%Y" }} {{ site.author.name }} · <a href="https://github.com/{{ site.author.github }}">GitHub</a></div>
</footer>
