<header class="top-nav">
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about/' | relative_url }}">About</a>
    <a href="{{ '/research/' | relative_url }}">Research</a>
    <a href="{{ '/expeditions/' | relative_url }}">Expeditions</a>
  </nav>

  <div class="social-icons">
    <a href="https://github.com/l-gallucci" target="_blank" aria-label="GitHub">
      <img src="{{ '/assets/icons/github-bw.svg' | relative_url }}" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/luigi-gallucci-scientificprofile/" target="_blank" aria-label="LinkedIn">
      <img src="{{ '/assets/icons/linkedin-bw.png' | relative_url }}" alt="LinkedIn">
    </a>
    <a href="https://bsky.app/profile/luigallucci.bsky.social" target="_blank" aria-label="Bluesky">
      <img src="{{ '/assets/icons/bluesky-bw.svg' | relative_url }}" alt="Bluesky">
    </a>
    <a href="https://x.com/luigallucci" target="_blank" aria-label="X">
      <img src="{{ '/assets/icons/x-bw.svg' | relative_url }}" alt="X">
    </a>
    <a href="https://www.instagram.com/luigigallucci_?igsh=MTZmdnBnanNnZTE1Mg%3D%3D&utm_source=qr" target="_blank" aria-label="Instagram">
      <img src="{{ '/assets/icons/instagram-bw.svg' | relative_url }}" alt="Instagram">
    </a>
  </div>
</header>