---
layout: base
---
<div class="wrap hero">
  <div class="about-col" style="max-width:600px">
    <div class="meta reveal"><span class="live"><i></i>{{ site.data.about.meta_label }}</span><span>{{ site.data.about.meta_detail }}</span></div>
    <div class="kicker reveal"><span class="rule"></span>{{ site.data.about.kicker }}</div>
    <h1 class="display reveal" style="margin-bottom:34px">About <span class="me">Me</span></h1>
    <p class="lede reveal">{{ site.data.about.bio_1 }}</p>
    <p class="lede reveal">{{ site.data.about.bio_2 }}</p>
  </div>
</div>
